

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h1>
        <%= gravatar_for @user, size: 50 %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <section class="row">
    <h3><%=@user.name%> may dislike following features.</h3>
    <div class="col-md-8">      
      <ul class="user_dislike_features">
        <% if @dislike_features.any? %>
          <% @dislike_features.each do |dislike_feature| %>
            <li><%= dislike_feature.feature %></li>
          <% end %>
        <% else %>
        <p>No features are selected.</p>
        <p>You might miss our test or might not choose enough products.  If not, please add 1 more dislike product on the test.</p>
        <p>Please try <%= link_to "Test", user_path(@user) %> again.</p>
        <% end %>
     </ul>
    </div>
  </section>
  <section class="row center">
    <h3>Products <%=@user.name%> will love</h3>
    <div class="col-md-2"></div>
    <div class="col-md-8">      
      <ul class="recommend_products">
        <% @recommend_products.each do |recommend_product| %>
          <%= render partial: 'shared/recommend_product', locals: {recommend_product:recommend_product} %>
        <% end %>
      </ul>
      <%= will_paginate @recommend_products %>  
    </div>
    <div class="col-md-2"></div>
  </section>
</div>
  
