

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h1>
        <%= gravatar_for @user, size: 50 %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <section class="row">
    <h3>You may dislike following features.</h3>
    <div class="col-md-8">      
      <ul class="user_dislike_features">
        <% @dislike_features.each do |dislike_feature| %>
          <li><%= dislike_feature.feature %></li>
        <% end %>
     </ul>
    </div>
  </section>

    <h3>Products you'll love</h3>
    <div class="col-md-8">      
      <ul class="recommend_products">
        <% @recommend_products.each do |recommend_product| %>
          <%= render partial: 'shared/recommend_product', locals: {recommend_product:recommend_product} %>
        <% end %>
     </ul>
    </div>
  <%= will_paginate @recommend_products %>  
</div>
  
